# Executables
easm
tests/suite
**/*.exe

# Autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.*
configure
libtool
m4/
**/.deps
**/.libs
**/.dirstamp
**/*.o
**/*.la
**/*.lo
**/*.log
**/*.trs

# Editors
**/*~
**/*.swp
